<a href="https://colab.research.google.com/github/seo-jeong-bang/like_code/blob/main/%EB%82%98%EB%8A%94_%EC%84%9C%EC%9A%B8%EC%97%90_%EC%A7%91%EC%9D%84_%EC%82%B4_%EC%88%98_%EC%9E%88%EC%9D%84%EA%B9%8C%3F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.데이터 불러오기

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/content/house.csv',encoding='cp949')

csv파일이 utf-8을 지원하지 않아 cp949로 인코딩해주는 작업을 하였다.

In [3]:
df

,지역,2006-01,2006-02,2006-03,2006-04,2006-05,2006-06,2006-07,2006-08,2006-09,...,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,2022-02,2022-03,2022-04,2022-05
0,전국,62.846,63.482,64.133,64.705,65.170,65.721,66.015,66.955,68.052,...,137.750,140.362,141.855,141.399,140.065,139.416,139.103,139.586,140.461,139.1
1,수도권,66.638,67.736,68.862,69.824,70.649,71.084,71.627,72.771,74.303,...,162.935,166.658,168.219,167.466,165.195,163.820,162.986,163.831,165.031,162.9
2,지방,59.695,59.710,59.688,59.679,59.592,60.374,60.338,60.985,61.296,...,116.761,118.477,119.961,119.788,119.261,119.239,119.385,119.601,120.240,119.6
3,6대광역시,57.592,57.567,57.532,57.597,57.611,58.014,58.094,58.641,59.152,...,130.989,132.974,134.704,134.177,132.691,132.293,132.504,132.351,132.741,131.7
4,5대광역시,56.322,56.177,55.987,55.850,55.683,56.042,56.073,56.504,56.949,...,127.672,129.120,130.690,130.003,128.913,128.572,128.548,128.465,128.908,128.0
5,8개도,62.947,63.111,63.260,63.384,63.377,64.562,64.449,65.305,65.491,...,105.928,107.960,109.454,109.891,109.994,110.362,110.689,111.262,112.164,111.7
6,서울,61.037,62.161,63.694,64.676,65.101,65.262,65.772,66.679,67.813,...,176.736,179.580,179.980,178.390,176.533,175.615,173.898,174.861,177.146,174.9
7,서울 도심권,58.770,57.747,60.035,59.398,61.210,60.933,63.227,64.798,66.266,...,169.213,168.722,172.747,176.792,172.507,175.134,175.125,175.538,174.976,171.6
8,서울 동북권,59.075,59.482,59.779,59.843,59.984,60.496,60.606,61.326,61.985,...,187.728,190.623,190.632,187.615,185.933,184.697,179.530,183.413,186.175,181.3
9,서울 서북권,56.506,56.527,57.243,57.589,58.322,59.086,59.704,60.279,61.805,...,172.554,177.054,175.542,175.315,169.961,169.415,169.925,170.554,172.089,172.3
10,서울 서남권,60.497,61.754,63.618,65.242,66.070,66.800,67.611,68.942,70.605,...,175.084,177.106,178.575,176.516,175.966,173.040,174.592,173.604,175.204,173.7
11,서울 동남권,62.639,64.365,66.888,68.975,69.483,67.943,68.454,69.047,70.513,...,171.942,176.258,176.320,175.842,174.444,175.905,171.912,171.909,175.875,174.9
12,부산,49.967,49.841,49.310,48.935,48.438,48.618,48.780,48.808,48.781,...,121.662,122.728,123.995,123.393,121.963,122.053,122.199,122.502,123.433,122.1
13,대구,62.882,62.972,62.822,62.734,62.427,62.019,61.372,61.651,61.849,...,134.145,134.032,133.796,131.491,128.805,127.633,126.824,125.068,125.210,124.1
14,인천,63.185,63.600,64.083,64.728,65.263,65.793,66.003,66.870,67.497,...,145.525,149.795,152.213,152.368,149.201,148.557,149.768,149.320,149.488,147.8
15,광주,54.472,54.217,54.130,53.848,53.231,54.001,54.130,54.626,54.371,...,134.396,138.368,143.348,144.696,146.172,147.038,147.707,148.972,149.198,149.9
16,대전,77.993,77.406,76.546,75.773,75.117,74.775,74.266,74.697,74.777,...,153.006,154.955,156.832,155.167,152.864,150.658,150.883,149.950,149.534,147.1
17,울산,49.492,49.451,50.254,51.052,52.280,53.611,54.257,55.439,57.796,...,107.652,108.780,109.209,108.845,108.713,108.402,107.944,108.210,108.699,108.3
18,세종,73.488,76.122,78.756,75.040,76.811,78.209,75.679,75.124,71.661,...,168.638,170.307,169.265,162.559,157.252,153.033,155.316,153.278,150.870,150.5
19,경기,71.133,72.328,73.245,74.278,75.483,76.106,76.746,78.115,80.097,...,159.720,163.877,165.944,165.470,163.186,161.354,160.533,161.662,162.505,160.4
20,강원,60.817,61.159,59.889,60.463,61.296,62.371,61.377,61.582,62.103,...,105.853,108.749,111.022,111.976,112.615,113.558,114.023,115.912,117.145,117.8
21,충북,66.151,67.249,67.687,68.692,68.159,68.604,68.109,68.785,68.753,...,108.145,110.763,113.013,112.974,113.652,113.660,114.883,114.730,115.392,114.6
22,충남,77.061,77.876,78.383,78.265,76.115,78.410,78.318,78.210,78.586,...,110.710,113.023,115.184,115.171,115.670,116.006,115.394,115.869,116.316,116.2
23,전북,58.088,58.402,58.827,59.023,59.290,60.897,60.827,61.634,61.720,...,111.626,113.584,115.264,115.804,116.290,116.064,116.942,117.959,120.012,119.9
24,전남,50.946,50.550,50.868,51.158,52.560,53.568,53.616,54.468,54.481,...,112.509,114.247,115.378,115.840,116.253,116.886,116.026,116.316,116.906,115.4
25,경북,66.892,66.507,66.629,66.438,66.459,68.747,68.788,70.414,70.828,...,101.227,103.039,103.295,103.625,103.476,103.208,103.970,103.369,104.364,104.2
26,경남,63.584,63.437,63.889,63.495,63.461,63.497,63.581,64.785,64.939,...,98.648,100.335,101.874,102.419,101.699,102.508,102.826,103.669,104.034,103.4
27,제주,39.117,38.050,36.320,36.406,37.031,37.796,39.038,39.491,39.025,...,109.140,110.001,109.040,110.478,109.599,110.710,110.828,112.253,114.674,113.7

In [4]:
df=df.transpose()

In [5]:
df1 = df.rename(columns=df.iloc[0])

In [6]:
df1

,전국,수도권,지방,6대광역시,5대광역시,8개도,서울,서울 도심권,서울 동북권,서울 서북권,...,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
지역,전국,수도권,지방,6대광역시,5대광역시,8개도,서울,서울 도심권,서울 동북권,서울 서북권,...,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
2006-01,62.846,66.638,59.695,57.592,56.322,62.947,61.037,58.77,59.075,56.506,...,73.488,71.133,60.817,66.151,77.061,58.088,50.946,66.892,63.584,39.117
2006-02,63.482,67.736,59.71,57.567,56.177,63.111,62.161,57.747,59.482,56.527,...,76.122,72.328,61.159,67.249,77.876,58.402,50.55,66.507,63.437,38.05
2006-03,64.133,68.862,59.688,57.532,55.987,63.26,63.694,60.035,59.779,57.243,...,78.756,73.245,59.889,67.687,78.383,58.827,50.868,66.629,63.889,36.32
2006-04,64.705,69.824,59.679,57.597,55.85,63.384,64.676,59.398,59.843,57.589,...,75.04,74.278,60.463,68.692,78.265,59.023,51.158,66.438,63.495,36.406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01,139.416,163.82,119.239,132.293,128.572,110.362,175.615,175.134,184.697,169.415,...,153.033,161.354,113.558,113.66,116.006,116.064,116.886,103.208,102.508,110.71
2022-02,139.103,162.986,119.385,132.504,128.548,110.689,173.898,175.125,179.53,169.925,...,155.316,160.533,114.023,114.883,115.394,116.942,116.026,103.97,102.826,110.828
2022-03,139.586,163.831,119.601,132.351,128.465,111.262,174.861,175.538,183.413,170.554,...,153.278,161.662,115.912,114.73,115.869,117.959,116.316,103.369,103.669,112.253
2022-04,140.461,165.031,120.24,132.741,128.908,112.164,177.146,174.976,186.175,172.089,...,150.87,162.505,117.145,115.392,116.316,120.012,116.906,104.364,104.034,114.674
2022-05,139.1,162.9,119.6,131.7,128.0,111.7,174.9,171.6,181.3,172.3,...,150.5,160.4,117.8,114.6,116.2,119.9,115.4,104.2,103.4,113.7

In [7]:
df=df1.drop(df1.index[0])

In [8]:
df

,전국,수도권,지방,6대광역시,5대광역시,8개도,서울,서울 도심권,서울 동북권,서울 서북권,...,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
2006-01,62.846,66.638,59.695,57.592,56.322,62.947,61.037,58.77,59.075,56.506,...,73.488,71.133,60.817,66.151,77.061,58.088,50.946,66.892,63.584,39.117
2006-02,63.482,67.736,59.71,57.567,56.177,63.111,62.161,57.747,59.482,56.527,...,76.122,72.328,61.159,67.249,77.876,58.402,50.55,66.507,63.437,38.05
2006-03,64.133,68.862,59.688,57.532,55.987,63.26,63.694,60.035,59.779,57.243,...,78.756,73.245,59.889,67.687,78.383,58.827,50.868,66.629,63.889,36.32
2006-04,64.705,69.824,59.679,57.597,55.85,63.384,64.676,59.398,59.843,57.589,...,75.04,74.278,60.463,68.692,78.265,59.023,51.158,66.438,63.495,36.406
2006-05,65.17,70.649,59.592,57.611,55.683,63.377,65.101,61.21,59.984,58.322,...,76.811,75.483,61.296,68.159,76.115,59.29,52.56,66.459,63.461,37.031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01,139.416,163.82,119.239,132.293,128.572,110.362,175.615,175.134,184.697,169.415,...,153.033,161.354,113.558,113.66,116.006,116.064,116.886,103.208,102.508,110.71
2022-02,139.103,162.986,119.385,132.504,128.548,110.689,173.898,175.125,179.53,169.925,...,155.316,160.533,114.023,114.883,115.394,116.942,116.026,103.97,102.826,110.828
2022-03,139.586,163.831,119.601,132.351,128.465,111.262,174.861,175.538,183.413,170.554,...,153.278,161.662,115.912,114.73,115.869,117.959,116.316,103.369,103.669,112.253
2022-04,140.461,165.031,120.24,132.741,128.908,112.164,177.146,174.976,186.175,172.089,...,150.87,162.505,117.145,115.392,116.316,120.012,116.906,104.364,104.034,114.674
2022-05,139.1,162.9,119.6,131.7,128.0,111.7,174.9,171.6,181.3,172.3,...,150.5,160.4,117.8,114.6,116.2,119.9,115.4,104.2,103.4,113.7

In [9]:
df.head()

,전국,수도권,지방,6대광역시,5대광역시,8개도,서울,서울 도심권,서울 동북권,서울 서북권,...,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
2006-01,62.846,66.638,59.695,57.592,56.322,62.947,61.037,58.77,59.075,56.506,...,73.488,71.133,60.817,66.151,77.061,58.088,50.946,66.892,63.584,39.117
2006-02,63.482,67.736,59.71,57.567,56.177,63.111,62.161,57.747,59.482,56.527,...,76.122,72.328,61.159,67.249,77.876,58.402,50.55,66.507,63.437,38.05
2006-03,64.133,68.862,59.688,57.532,55.987,63.26,63.694,60.035,59.779,57.243,...,78.756,73.245,59.889,67.687,78.383,58.827,50.868,66.629,63.889,36.32
2006-04,64.705,69.824,59.679,57.597,55.85,63.384,64.676,59.398,59.843,57.589,...,75.04,74.278,60.463,68.692,78.265,59.023,51.158,66.438,63.495,36.406
2006-05,65.17,70.649,59.592,57.611,55.683,63.377,65.101,61.21,59.984,58.322,...,76.811,75.483,61.296,68.159,76.115,59.29,52.56,66.459,63.461,37.031

#2.전처리